@model FacultyWebsite.Models.LogInViewModel



@{
    ViewData["Title"] = "Login";
}

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Log In Page</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="~/assets/img/KFS_logo.gif" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- JQuery File-->
    <script src="~/assets/js/jquery-3.7.1.min.js"></script>

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
</head>
<body>

    <header id="header" class="fixed-top header-inner-pages">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="index.html">Computer science</a></h1>
            <br>
            <img src="~/assets/img/moon.png" id="icon">
            <br><br>

        </div>
    </header>
    <footer id="footer">
        <div class="login-footer-newsletter">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                      <div class="login-form2">
                        <h4>Join Our System</h4>
                        <p>Enter your credentials then hit enter and enjoy your educational journey</p><br>

                        <form asp-action="Login">

                            <div class="form-group username-input">
                                <img src="~/assets/img/email.png">
                                <label asp-for="EMail" class="control-label">Your Username</label>
                                <input asp-for="EMail" class="form-control" placeholder="Username" id="name" />
                                <span asp-validation-for="EMail" class="text-danger"></span>
                            </div>
                            <div class="form-group pass-input">
                                <img src="~/assets/img/pass.png">
                                <label asp-for="Password" class="control-label">Your Password</label>
                                <div class="password-container">
                                    <input asp-for="Password" class="form-control" placeholder="Password" id="password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                    <i id="toggle-password" class="far fa-eye"></i>
                                </div>
                                    <a class="col-lg-7" id="face-id" href="~/../Faceid/index"> OR Continue With Face ID </a>

                            </div><br>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <input type="submit" value="Log In" class="col-lg-12 login-button"  />
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>CS KFS</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="mailto:fci.kfs@gmail.com"><strong>Khair Awn Team</strong></a>
            </div>
        </div>
    </footer>

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

</body>






@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}