<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Faculty of Computer Science Management System Affairs Section</title>

    <!-- Favicons -->
    <script src="~/assets/js/jquery-3.7.1.min.js"></script>

    <link href="~/assets/img/KFS_logo.gif" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">


    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">

</head>

<body>
    <div class="sidebar">
        <div class="top">
            <div class="logo">
                <i class="bx bxl-codepen"></i>
                <span>Computer Science</span>
            </div>
            </i> <i class="bx bx-menu" id="btn"></i>
        </div>

        <div class="user">
            <img src="~/assets/img/Mohsen_CS.jpg" alt="me" class="circular-div2">
            <div>
                <p class="bold">Affairs</p>
                <p>Student Management</p>
            </div>
        </div>
        <hr>
        <ul >

            <li style="height:56px">
                <a href="AddStudent" id="add-stu" onclick="showDiv(1)">
                    <i class="bx bxs-comment-add"></i>
                    <span class="nav-item">Add</span>
                </a>
                <span class="tooltip">Add</span>
            </li>
            <li style="height:56px">
                <a href="DeleteStudent" id="del-stu">
                    <i class="bx bxs-message-alt-x"></i>
                    <span class="nav-item">Delete</span>
                </a>
                <span class="tooltip">Delete</span>
            </li>
            <li style="height:56px">
                <a href="UpdateStudent" id="upd-stu">
                    <i class="bx bxs-wrench"></i>
                    <span class="nav-item">Update</span>
                </a>
                <span class="tooltip">Update</span>
            </li>
            <li style="height:56px">
                <a href="SearchStudent" id="srch-stu">
                    <i class="bx bx-search-alt"></i>
                    <span class="nav-item">Search</span>
                </a>
                <span class="tooltip">Search</span>
            </li>
            <li  style ="height:56px">
                <a href="PreviousCourses" id="prv-crs" >
                    <i class="bx bxs-book-content"></i>
                    <span class="nav-item">Complete_Courses</span>
                </a>
                <span class="tooltip">Complete Courses</span>
            </li>
            
            <li style="height:56px">
                <a href="NewCourses" id="Cur-crs" onclick="">
                    <i class="bx bxs-book-open"></i>
                    <span class="nav-item">Current_Courses </span>
                </a>
                <span class="tooltip">Current Courses</span>
            </li>

            <li style ="height:56px">
                <a href="" id="theme">
                    <i class="bx bxs-moon"></i>
                    <span class="nav-item">Theme</span>
                </a>
                <span class="tooltip">Theme</span>
            </li>
            <li style="height:56px">
                <a href="../../../Affaire/index">
                    <i class="bx bx-log-out"></i>
                    <span class="nav-item">Exit</span>
                </a>
                <span class="tooltip">Exit</span>
            </li>
        </ul>
    </div>

    <div class="main-content">

        @RenderBody()

    </div>


    <script src="~/assets/js/jquery-3.7.1.min.js"></script>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <script src="~/assets/js/main.js"></script>

</body>

<script>
    let btn = document.querySelector('#btn');
    let sidebar = document.querySelector('.sidebar');

    btn.onclick = function () {
        sidebar.classList.toggle('active');
    };

    function showDiv(divNum) {
        document.querySelectorAll('.content').forEach(function (div) {
            div.style.display = 'none';
        });
        hideAllContent();

        document.getElementById('div' + divNum).style.display = 'block';

        localStorage.setItem('lastClickedButton', divNum);
    }

    const lastClickedButton = localStorage.getItem('lastClickedButton');
    if (lastClickedButton) {
        showDiv(parseInt(lastClickedButton));
    }

    function hideAllContent() {
        const allContent = document.querySelectorAll('.add');
        allContent.forEach(content => {
            content.style.display = 'none';
        });
    }

    function hideAllContent() {
        const allContent = document.querySelectorAll('.add');
        allContent.forEach(content => {
            content.style.display = 'none';
        });
    }

    /* Dark theme */
    const link = document.getElementById('theme');
    link.addEventListener('click', function (event) {
        event.preventDefault();
        document.body.classList.toggle('light-theme');
        document.body.classList.toggle('dark-theme');
        const iconElement = this.querySelector('i');
        if (iconElement.classList.contains('bxs-moon')) {
            iconElement.classList.replace('bxs-moon', 'bxs-sun'); 
        } else {
            iconElement.classList.replace('bxs-sun', 'bxs-moon'); 
        }
    });

</script>

</html>
