@model FacultyWebsite.Models.Student 
@{
    Layout = "_Index.cshtml";
    
}



<div class="main-content">
    <div class="container add" id="div1" tyle=" max-width:900px; background: url(assets/img/Mohsen_CS2.jpg); border-radius:20px;">
        
        Hello ! (@Model.Fname)
        
    </div>
</div>